@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #EEE;
  --text-color: #111;
}

.dark {
  --bg-color: #111;
  --text-color: #EEE;
}

* {
  @apply overscroll-none;
}

html,
body {
  @apply bg-[var(--bg-color)] text-[var(--text-color)] tracking-[-0.03em];
  font-family: "GT America Mono", monospace;
  font-weight: 400;
  color-scheme: light;
}


@font-face {
  font-family: "GT America Mono";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/GT-America/GT-America-Mono-Regular.woff2") format("woff2"),
    url("/fonts/GT-America/GT-America-Mono-Regular.woff") format("woff"),
    url("/fonts/GT-America/GT-America-Mono-Regular.ttf") format("truetype"),
    url("/fonts/GT-America/GT-America-Mono-Regular.otf") format("opentype");
}

@font-face {
  font-family: "GT America Mono";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/GT-America/GT-America-Mono-Bold.woff2") format("woff2"),
    url("/fonts/GT-America/GT-America-Mono-Bold.woff") format("woff"),
    url("/fonts/GT-America/GT-America-Mono-Bold.ttf") format("truetype"),
    url("/fonts/GT-America/GT-America-Mono-Bold.otf") format("opentype");
}
